[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
altair = "*"
pandas = "*"
google-cloud-firestore = "*"
redis = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"

[packages.streamlit-analytics]
editable = true
path = "."

[packages.e1839a8]
path = "."
editable = true
